.bar-memory {
  padding-left: 7px;
  margin-right: 10px;

  .memory-value {
    padding-left: 7px;
    padding-right: 7px;
    color: $yellow;
  }

  .bar-memory-monitor {
    margin-right: 0px;
  }
}

